<%= link_to "ユーザー一覧へ", "/users" %>
<h1><%= @user.name %>さんのプロフィール画面</h1>

<script>
  var user_id = "<%= @user.id %>"
</script>

<h2>スキル・特徴</h2>
<% if current_user && current_user == @user %>
<div id="skill_box"></div>
<%= javascript_include_tag "webpack/skill_box" %>
<% else %>
<div id="other_skill_box"></div>
<%= javascript_include_tag "webpack/other_skill_box" %>
<% end %>
